@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --color-primary: #137fec;
  --color-primary-content: #ffffff;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;

  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Manrope", sans-serif;
}